In [1]:
import pandas as pd
import numpy as np
import os

##### Load joined.csv #######
df = pd.read_csv('preprocess.csv', encoding='utf-8',nrows=100).drop('Unnamed: 0',1)
df_tmp = df.sort_values(["timestamp"],ascending=True)
df_tmp.head(10)

,userId,movieId,rating,timestamp,tstamp_hour,tstamp_day,tstamp_year,genres,releaseDate,label,label_nom
27,4160,120466,3.5,1425865760,396074.0,16504.0,46.0,46,2015.0,5,0.001902
79,9717,106782,4.5,1425869849,396075.0,16504.0,46.0,68,2013.0,5,0.001902
78,9328,1907,4.0,1425873256,396076.0,16504.0,46.0,319,1998.0,1,0.000380
77,9328,1380,3.0,1425873296,396076.0,16504.0,46.0,204,1978.0,3,0.001141
32,5100,318,4.0,1425912119,396087.0,16504.0,46.0,14,1994.0,11,0.004184
34,5100,527,4.0,1425912124,396087.0,16504.0,46.0,26,1993.0,7,0.002663
41,5100,1198,4.0,1425912132,396087.0,16504.0,46.0,133,1981.0,13,0.004945
28,5100,50,3.5,1425912135,396087.0,16504.0,46.0,32,1995.0,3,0.001141
39,5100,1196,4.0,1425912145,396087.0,16504.0,46.0,82,1980.0,10,0.003804
51,5100,2762,3.0,1425912149,396087.0,16504.0,46.0,404,1999.0,9,0.003423

In [ ]:
df_tmp.to_csv('sorted.csv')
print("Succuseffuly saved")